html,
body {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 70vw;
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
}

.navBar {
  background: rgb(179, 179, 179);
}

.navLink {
  color: darkslategrey;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HOME PAGE */

.homeSection {
  padding-bottom: 80px;
}

.techSection {
  background: rgb(60, 100, 25);
}

.technologies {
  display: flex;
  justify-content: center;
}

.logoList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.logo {
  width: 15%;
}

.recentProjects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


* {
  box-sizing: border-box;
}
